pipeline/CopyAllTableToAnotherTables.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"sname": {
								"value": "@pipeline().parameters.sname",
								"type": "Expression"
							},
							"dbname": {
								"value": "@pipeline().parameters.dbname",
								"type": "Expression"
							},
							"uname": {
								"value": "@pipeline().parameters.uname",
								"type": "Expression"
							},
							"tablename": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"Schema": {
								"value": "@variables('schema')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TABLE_SCHEMA,TABLE_NAME from INFORMATION_SCHEMA.tables where TABLE_SCHEMA='SalesLT'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"sname": {
								"value": "@pipeline().parameters.sname",
								"type": "Expression"
							},
							"dbname": {
								"value": "@pipeline().parameters.dbname",
								"type": "Expression"
							},
							"uname": {
								"value": "@pipeline().parameters.uname",
								"type": "Expression"
							},
							"tablename": "ADDRESS",
							"Schema": "SALESLT"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"sname": {
											"value": "@pipeline().parameters.sname",
											"type": "Expression"
										},
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										},
										"uname": {
											"value": "@pipeline().parameters.uname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"Schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"sname": {
											"value": "@pipeline().parameters.sname",
											"type": "Expression"
										},
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										},
										"uname": {
											"value": "@pipeline().parameters.uname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"Schema": "source"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sname": {
				"type": "string"
			},
			"dbname": {
				"type": "string"
			},
			"uname": {
				"type": "string"
			}
		},
		"annotations": []
	}
}